body {
    background-color: skyblue;
    color: blue;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: blue
}

p {
    color: white;
}

div {
    background-color: pink;
    width: 500 px;
}

span {
    font-size: 30px;
    color: red;
}